* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: white;
}

.container {
  background-color: #07080c;
  height: 100vh;
  text-align: center;
  padding: 10%;
}

.heading {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px;
}

.sub-heading {
  padding: 15px 15px;
  font-size: 25px;
}

.description {
  font-size: 15px;
  padding: 12px 12px;
  color: #cbd5e1;
}

.img {
  width: 60%;
  padding-bottom: 10px;
}

.buttons {
  background-color: green;
  color: black;
  cursor: pointer;
  margin: 10px;
}

.btn1 {
  background-color: #0b69ff;
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  border: none;
}

.btn2 {
  background-color: transparent;
  color: #94a3b8;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  border: solid 1px #94a3b8;
}
